.projectPage{
    margin: auto;
    color: white;
}
.projectImg{
    width: 350px;
    height: auto;
    margin: auto;
    border: 4px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}
thead{
    color:white;
    background-color: #47403d;
}
tbody{
    background-color: white;
}
.projectsTitle{
    font-family:  'Lobster', cursive;
    font-size: 50px;
}
.desc{
    margin-left: 30px;
}